**.swp
**.orig
*.rbc
*.sassc
.DS_Store
.env
.jhw-cache
.pow*
.pryrc
.rspec
.rvmrc
.sass-cache
.ruby-version
/.bundle
/coverage/
/db/*.sqlite3
/db/import/*
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bin
/vendor/bundle
Guardfile
capybara-*.html
config/application.yml
config/projections.json
config/environments/*.local.yml
config/settings.local.yml
config/settings/*.local.yml
erd.pdf
pickle-email-*.html
public/assets
public/assets-test
rerun.txt
spec/tmp

