.form.new-task

.week-summary
  = link_to week_path(@this_week) do
    = render 'weeks/summary', week: @this_week, tasks: true

- if @tasks.present?
  = render 'tasks'
- else
  %p.error-message There's no tasks yet.
