.form.new-task

.week-summary
  = link_to week_path(@this_week) do
    = render 'weeks/summary', week: @this_week, tasks: true

.tasks
  .placeholder{style: 'color: white; text-align: center'}
    %i.fa.fa-spin.fa-refresh.fa-2x
  - # Rendering by Backbone
