%h1
  = image_tag 'ktra.svg', alt: 'K-tra! The Lightweight Task Tracker.', class: 'ktra-image'
  .logo K-tra!
  .catch The Lightweight Task Tracker.
  .sign-in-wrapper
    = link_to '/users/auth/twitter', class: 'sign-in' do
      %i.fa.fa-twitter
      %span Sign in
