%ul.iterations-list
  - @iterations.each do |iteration|
    %li.iteration
      =link_to iteration_path(iteration) do
        .iteration-summary= render ('iterations/summary'), iteration: iteration, iterations: true
