.line-top{
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3) inset;
	-o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3) inset;
	-ms-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3) inset;
}

