/* ==========================================================================
/* ktra
/* --------------------------------------------------------------------------
body
  +main-font
  text-shadow: none
  background: desaturate(tint($base-color, 40%), 10%)
  padding: 0
  margin: 0

html, body
  height: 100%
  min-height: 100%

.body
  width: 100%
  min-height: 100%
  +relative
  background: $base-color
  padding-top: 30px
  @media only screen and (min-width : $max-device-width)
    width: $max-device-width
    margin: 0 auto
  &.welcome
    padding-top: 100px
    width: 100%
    text-align: center
a
  color: white
  text-decoration: none

.num
  +num-font
  font-size: 120%

.new-task
  text-align: center
  margin:
    top: 20px
    bottom: 20px
  a
    color: white
    font-size: 36px

input[type="submit"], button, select
  -webkit-appearance: none

.task
  +list
  .status
    input[type="submit"], button 
      +absolute
      box-sizing: border-box
      top: 0
      left: 0
      display: block
      width: 45px
      height: 45px
      text-align: center
      color: #FFF
      background: rgba(0, 0, 0, .1)
      font-size: 10px
      padding:
        left: 0
        right: 0
        top: 5px
      line-height: 1.5
      border: none !important
      span
        display: block
        width: 45px
      i
        font-size: 20px
        line-height: 20px
        &.fa-caret-right
          font-size: 24px

  &.unstarted
    a
      background: $color-unstarted
      color: $color-null
    .point > i
      color: $color-null
    .status > button
      color: white
      background: $color-null !important
      border-bottom: 1px solid (rgba(0,0,0,.1))
    @for $pt from 0 through 8
      $pt-color: ''
      @if $pt == 0
        $pt-color: $color-pt0
      @else if $pt == 1
        $pt-color: $color-pt1 
      @else if $pt == 2
        $pt-color: $color-pt2
      @else if $pt == 3
        $pt-color: $color-pt3
      @else if $pt == 5
        $pt-color: $color-pt5
      @else if $pt == 8
        $pt-color: $color-pt8
      @else
        $pt-color: $color-null
      &.pt#{$pt}
        a
          color: $pt-color
        .point > i
          color: $pt-color
        .status > input[type="submit"], button
          color: white
          background: $pt-color !important
          border-bottom: 1px solid (rgba(0,0,0,.1))

  &.doing, &.done
    a
      background: $color-null
    .status > button
      background: rgba(255, 255, 255, .3)
    @for $pt from 0 through 8
      $pt-color: ''
      @if $pt == 0
        $pt-color: $color-pt0
      @else if $pt == 1
        $pt-color: $color-pt1 
      @else if $pt == 2
        $pt-color: $color-pt2
      @else if $pt == 3
        $pt-color: $color-pt3
      @else if $pt == 5
        $pt-color: $color-pt5
      @else if $pt == 8
        $pt-color: $color-pt8
      @else
        $pt-color: $color-null
      &.pt#{$pt}
        a
          color: white
          background: $pt-color
        .status > input[type="submit"], button
          background: rgba(0, 0, 0, .1)
  &.done
    +opacity(.3)

label
  display: block
  margin-bottom: 5px

input, select, textarea
  outline: none

input[type="text"], textarea
  width: 280px - 20px
  background: $text-color
  padding: 10px
    right: 30px
  border: none
  color: $white
  +border-radius(4px)
  font-size: 12px
  +transition-duration(.3s)
  +placeholder-color(rgba(0,0,0,.2))
  &:focus
    background: $text-color
    color: white
    padding-right: 10px
    width: 280px
  &.task-title
    font-size: 14px
  &.memo
    height: 100px

select
  font-size: 16px
  color: #FFF
  background: $text-color
  border: 1px solid $color-unstarted
  padding: 5px
  +border-left-radius(4px)
  +transition-duration(.3s)
  &:focus
    background: $text-color
    color: white

.actions
  width: 100px
  margin: 0 auto
  i
    display: block
    width: 100%
    font-size: 30px
    text-align: center
    margin-bottom: 10px
  input[type="submit"], button
    color: white
    background: $text-color
    width: 70px
    height: 70px
    +border-radius(35px)
    font-size: 10px
    text-align: center
    border: none
    margin-left: 10px
    display: block
    line-height: 1
    +relative
    left: 5px
    i
      font-size: 24px
      display: block
      line-height: 20px
      +relative
      top: 2px


.edit
  background: $color-unstarted
  color: $text-color
  padding: 10px 0 30px
  overflow: hidden

  .fa-pencil
    color: rgba(0,0,0,.2)
    +relative
    left: -25px
    top: 2px

  .destroy
    text-align: right
    line-height: 20px
    margin:
      right: 15px
      bottom: 10px
    a
      color: $text-color
      font-size: 10px
      i
        font-size: 20px
        +relative
        top: 3px
  .time
    font-size: 10px
    margin-top: 30px
    dl
      +clearfix
    dt, dd
      float: left
      margin-right: 5px
    dd
      margin-right: 10px
      
  .form-header
    +pie-clearfix
    margin-bottom: 20px
    h2 
      float: left
      width: 120px
      text-align: right
      +fw-300
      font-size: 18px
      line-height: 60px
    button
      +circle-button
      float: left
  @for $pt from 0 through 8
    $pt-color: ''
    @if $pt == 0 
      $pt-color: $color-pt0 
    @else if $pt == 1
      $pt-color: $color-pt1 
    @else if $pt == 2
      $pt-color: $color-pt2
    @else if $pt == 3
      $pt-color: $color-pt3
    @else if $pt == 5
      $pt-color: $color-pt5
    @else if $pt == 8
      $pt-color: $color-pt8
    @else
      $pt-color: $text-color
    &.pt#{$pt}
      color: $pt-color
      input[type="text"], select, textarea
        background: $pt-color
        color: white
        &:focus
          background: $zurui-gray
          color: $pt-color 
      input[type="submit"], button
        background: $pt-color 
        color: white
      .destroy > a
        color: $pt-color
        

  &.doing
    .destroy > a
      color: white
    @for $pt from 0 through 8
      $pt-color: ''
      @if $pt == 0
        $pt-color: $color-pt0
      @else if $pt == 1
        $pt-color: $color-pt1 
      @else if $pt == 2
        $pt-color: $color-pt2
      @else if $pt == 3
        $pt-color: $color-pt3
      @else if $pt == 5
        $pt-color: $color-pt5
      @else if $pt == 8
        $pt-color: $color-pt8
      @else
        $pt-color: $text-color
      &.pt#{$pt}
        background: $pt-color
        color: white
        input[type="text"], select, textarea
          background: rgba(0,0,0,.1)
          color: white
          &:focus
            background: white
            color: $pt-color
        select
          border: darken($pt-color, 10%)
          &:focus
            border: darken($pt-color, 10%)
        input[type="submit"], button
          background: white
          color: $pt-color
        .destroy > a
          color: white

.form
  width: 320px
  margin: 0 auto
  padding: 20px 10px
    top: 0
  overflow: hidden

.field
  +pie-clearfix
  margin-bottom: 20px
  &.point-radio
    ul
      +pie-clearfix
      +relative
      left: 0
      margin-left: 10px
    li
      float: left
      +relative
      left: 0
      margin-right: 5px
      &.point-radio-text
        font-size: 10px
        line-height: 40px
        display: inline
      &:first-child
        position: relative
        left: 0
      &:last-child
        position: relative
        left: 0
      input
        display: none
      label 
        display: inline-block
        background: white
        color: $text-color
        width: 40px
        height: 40px
        +border-radius(22px)
        +relative
        left: 0px
        text-align: center
        font-size: 10px
        border: 1px solid rgba(0,0,0,.05)
        .num
          display: block
          font-size: 24px
          line-height: 24px
          +relative
          top: 5px
        &:hover
          cursor: pointer
      input:checked+label
        background: $text-color
        color: white
          
      @for $pt from 1 through 8
        $pt-color: ''
        @if $pt == 1
          $pt-color: $color-pt1 
        @else if $pt == 2
          $pt-color: $color-pt2
        @else if $pt == 3
          $pt-color: $color-pt3
        @else if $pt == 5
          $pt-color: $color-pt5
        @else if $pt == 8
          $pt-color: $color-pt8
        @else
          $pt-color: $text-color
        &.pt#{$pt}
          label
            color: $pt-color
          input:checked+label     
            background: $pt-color
            color: white

.new-task
  text-align: left
  padding: 0
  input[type="text"]
    background: rgba(0,0,0,.1)
    +placeholder-color(rgba(0,0,0,.2))
    +relative
    left: 10px
    &:focus
      +placeholder-color(rgba(0,0,0,.2))
      color: $text-color
      background: white
  .fa-pencil
    color: rgba(0,0,0,.2)
    +relative
    left: -15px
    top: 2px
  .point-radio
    +relative
    left: 12px
    margin-bottom: 5px
  .point-radio-text
    color: white
  .actions
    i.fa-arrow-down
      color: white
      font-size: 30px
      +relative
      left: -3px
      margin-bottom: 0
    button
      background: none
      width: 40px
      height: 40px
      +border-radius(none)
      text-align:center
      +relative
      top: 0
      left: -6px
      margin: 0 auto
        bottom: 20px
      i
        font-size: 40px
        line-height: 40px

.header
  width: 300px
  margin: 0 auto 15px
  padding: 0 10px
  +clearfix
  h1 > a
    display: block
    +num-font
    font-size: 25px
    padding-left: 45px
    background: url(ktra-header-logo@2x.png) no-repeat left 7px
    background-size: 45px 33px
    height: 40px
    line-height: 62px
    width: 70px
    float: left
    &:hover
      +opacity(.9)

.user
  float: right
  +clearfix
  +relative
  top: 10px
  p
    float: right
    margin-left: 5px
    font-size: 10px
    line-height: 30px
    &:hover
      +opacity(.8)
    &.image
      img
        width: 30px
        height: 30px
        +border-radius(30px)

.iteration-summary
  color: white
  +pie-clearfix
  width: $width - 20px
  margin: 10px auto
    top: 20px
  padding: 0 10px
  +relative
  .date
    float: left
    ul
      margin-right: 5px
      float: left
      +pie-clearfix
      li
        float: left
        &.year, &.month
          +relative
          top: 5px
          font-size: 15px
          padding-right: 5px
          border-right: 1px solid rgba(white, .5)
          margin-right: 5px
          line-height: 15px
          padding-top: 2px
          height: 13px
        &.day
          font-size: 26px
    i
      float: left
      margin-right: 5px
      line-height: 26px
      color: rgba(white, .5)
      &.fa-calendar
        font-size: 18px

  .right
    float: right
    +pie-clearfix
    .total-points
      +relative
      top: -4px
      +border-radius(4px)
      +balloon-bottom($color: white, $left: 28px)
      float: left
      background: white
      padding: 3px 8px
        top: 4px
      width: 50px
      color: $text-color
      font-size: 10px
      text-align: right
      .num
        font-size: 20px
        +relative
        top: 2px
        margin-right: 2px
      i
        margin-right: 2px
        color: rgba($text-color, .5)
  .fa-angle-right
    font-size: 20px
    color: rgba(white, .5)
    float: right
    margin-left: 3px

.iteration
  +list
  .iteration-summary
    width: 100%
    margin: 0
    .date
      +relative
      top: 2px
      .year, .month
        top: 15px
      i
        +relative
        top: 10px
    .total-points
      +point-in-list
      right: 20px
      color: white
      background: none
      top: -5px
      text-align: right
      width: 100px
      .num
        font-size: 24px
      &:after
        display: none

.error-message
  color: rgba(white, .5)
  text-align: center
    
.footer
  padding: 30px 0
  text-align: center
  font-size: 11px
  color: rgba(255, 255, 255, .8)
  line-height: 1.4
  a
    color: white

.welcome
  color: white
  .ktra-image
    margin-bottom: 15px
  .logo
    +num-font
    font-size: 40px
  .catch
    margin-bottom: 30px
    font-size: 16px
  .sign-in
    +circle-button
    margin: 0 auto
    float: none
    background: $color-pt1
    i
      font-size: 30px
      +relative
      top: 5px
      line-height: 35px
    span
      +relative
      top: 2px
