$main-color: #2EA7E0
$sub-color: #E0663B
$text-color: #444
$accent-color: #E99012
$base-color: #EEE

$link-color: $main-color
$hover-color: darken($main-color, 10%)
$white: #FFF
$zurui-gray: #E6E6E6
$line-color: #ddd
$light-yellow: #f3f3cc

$width: 950px


