%footer.footer
  %small
    Created by
    =link_to '@ken_c_lo', 'https://twitter.com/ken_c_lo', target: '_blank'
    &nbsp;
    =link_to '@katton', 'https://twitter.com/katton', target: '_blank'
    &nbsp;
    =link_to '@ppworks', 'https://twitter.com/ppworks', target: '_blank'
    , Thanks
    =link_to '#p4d', 'http://prog4designer.github.io/', target: '_blank'
    %br
    =link_to 'CC BY-NC-SA 2.1', 'http://creativecommons.org/licenses/by-nc-sa/2.1/jp/', target: '_blank'
    - # [FIXME] 場所をいい感じのところへお願いします
    %br
    = link_to user_session_path, method: :delete do
      %i.fa.fa-sign-out
