%footer.footer
  - if user_signed_in?
    .footer-nav
      %ul
        %li
          = link_to user_session_path, method: :delete do
            %i.fa.fa-sign-out
            = 'Sign out'
  %small
    Created by
    =link_to '@ken_c_lo', 'https://twitter.com/ken_c_lo', target: '_blank'
    &nbsp;
    =link_to '@katton', 'https://twitter.com/katton', target: '_blank'
    &nbsp;
    =link_to '@ppworks', 'https://twitter.com/ppworks', target: '_blank'
    , Thanks
    =link_to '#p4d', 'http://prog4designer.github.io/', target: '_blank'
    %br
    =link_to 'CC BY-NC-SA 2.1', 'http://creativecommons.org/licenses/by-nc-sa/2.1/jp/', target: '_blank'
    &nbsp;
    = "/"
    &nbsp;
    =link_to 'https://github.com/taea/ktra', target: '_blank', title: 'Fork me!' do
      Fork me on
      &nbsp;
      %strong<> GitHub
