%head
  %title K-tra! The Lightweight Task Tracker
  = stylesheet_link_tag    "application", :media => "all"
  = csrf_meta_tags
  %meta(name='viewport' content= "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")/
  %meta(name='format-detection' content= "telephone=no")/
  %meta(name='apple-mobile-web-app-capable' content= "no")/
  %meta(name='apple-mobile-web-app-status-bar-style' content= "black-translucent")/
  %meta(name='description' content= "")/
  %meta(name='keywords' content= "")/
  %meta(property='og:title' content= "K-tra! The Lightwaight Task Tracker")/
  %meta(property='og:url' content= "")/
  %meta(property='og:type' content= "")/
  %meta(property='og:site_name' content= "ktra")/
  = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
  = favicon_link_tag
